.innovate_title {
    background: -webkit-linear-gradient(
        rgb(159, 228, 255) 0%,
        rgb(227, 122, 255) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.innovateCard {
    background: linear-gradient(
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.05) 100%
    );
    box-shadow: rgb(0 0 0 / 20%) 0px 10px 20px;
    backdrop-filter: blur(27.1828px);
    transition: 0.5s;
}
.innovateCard:hover {
    background: rgba(10, 7, 13, 0.3);
    backdrop-filter: blur(35);
}
.Color {
    color: #ff6500;
}
.innovate_img {
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 15px;
    background: linear-gradient(
        rgba(255, 255, 255, 0.25) -0.21%,
        rgba(255, 255, 255, 0.1) 99.67%
    );
}
